* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* shared style  */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.hide {
  display: none;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

.color-orange {
  color: #fd6e0a;
}

.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
}

.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}

.text-center {
  text-align: center;
}

.container {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
}

/* main style  */

header {
  background-color: #fff8f3;
  background: url("../images/developer.png"), url("../images/header_bg.png"),
    #fff8f3;
  background-position: 23px 38px, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#banner {
  margin: 47px 0px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content {
  max-width: 585px;
}

#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-image {
  margin-right: 38px;
}

#banner .banner-image img {
  max-width: 585px;
  vertical-align: middle;
}

#about,
#skills,
#resume {
  padding-top: 130px;
}

#about .about-container {
  text-align: center;
  background-color: #fff8f3;
  padding: 132px 132px;
}

#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}

.about-info .info-card {
  flex: 1;
}

.about-info .info-card p {
  font-size: 20px;

  line-height: 30px;
  color: #757575;
}

.about-info .info-card h4 {
  font-size: 20px;
}

#skills .skills-container .skill-box {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.skill-box .skill-card {
  padding: 30px;
  flex: 1;
  box-shadow: 0 6px 50px 0 #00000011;
}

.skill-card img {
  max-width: 44px;
  margin-bottom: 30px;
}

.skill-card h3 {
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}

.skill-card p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}

#resume .resume-container {
  margin-top: 113px;
  display: flex;
  gap: 24px;
}

.resume-container hr {
  margin: 30px 0;
}

.resume-container .section-title {
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
}

.resume-card {
  max-width: 511px;
  margin-right: 47px;
}

.resume-card .card-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}

.resume-card .card-info {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #757575;
}

.resume-card .card-text {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

footer {
  margin-top: 130px;
  background-color: #fff8f3;
  padding: 130px 0;
}

footer .footer-container {
  display: flex;
  gap: 116px;
}

.footer-container h2 {
  color: #181818;
  font-size: 35px;
  margin-bottom: 20px;
}

.footer-container .social {
  max-width: 562px;
}

.footer-container .social p {
  color: #474747;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 30px;
}

.footer-container .icons a {
  margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea {
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
}

/* responsive style */
/* for tablets */
@media screen and (max-width: 992px) {
  .container {
    width: 90%;
  }

  #banner {
    margin: 40px 20px 20px 20px;
  }

  #banner .banner-content {
    text-align: center;
  }

  #banner .banner-content h2 {
    font-size: 24px;
  }

  #banner .banner-content h1 {
    font-size: 48px;
  }

  .btn {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  #banner .banner-image img {
    width: 100%;
  }

  header {
    background: url("../images/developer.png"), url("../images/header_bg.png"),
      #fff8f3;
    background-repeat: no-repeat;
    background-position: 23px 50%, bottom right;
  }

  #about .about-container .about-info {
    gap: 20px;
  }

  #skills .skills-container .skill-box,
  #about .about-container .about-info,
  #resume .resume-container,
  #banner {
    flex-direction: column;
  }

  .footer-container form input[type="text"],
  .footer-container form textarea {
    width: 100%;
  }

  footer .footer-container {
    flex-direction: column-reverse;
    gap: 60px;
  }
}

/* for mobile devices */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .section-heading h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  nav {
    gap: 12px;
  }

  nav .menu {
    gap: 18px;
  }

  nav,
  nav .menu {
    flex-direction: column;
  }

  header {
    background: url("../images/header_bg.png"), #fff8f3;
    background-repeat: no-repeat;
    background-position: bottom right 32%;
  }

  #banner .banner-image {
    margin-right: 0px;
  }

  .btn {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #about,
  #skills,
  #resume {
    padding-top: 60px;
  }

  #about .about-container {
    padding: 20px;
  }

  .skill-box .skill-card {
    max-width: 100%;
    padding: 20px;
  }

  .skill-card img {
    max-width: 44px;
    margin-bottom: 16px;
  }

  .skill-card h3 {
    margin-bottom: 10px;
  }

  #resume .resume-container {
    margin-top: 60px;
  }

  footer {
    margin-top: 60px;
    padding: 60px 0;
  }
}
